html {
  background: url("./backgroundImg/background-light.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: url("./cursor.png"), auto; /* Custom cursor */

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000000;
}

.container {
  text-align: center;
  padding: 100px;
}

h1 {
  font-size: 3em;
}

.image-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.image-section img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(165, 165, 165);

}

.date {
  padding: 30px;
}


/* Styles pour les écrans de petite taille (par exemple, smartphones) */
@media only screen and (max-width: 767px) {
  .container {
    padding: 50px;
    /* Ajuster l'espacement pour les écrans plus petits */
  }

  h1 {
    font-size: 2em;
    /* Réduire la taille de la police pour les écrans plus petits */
  }

  .image-section {
    margin-top: 50px;
    /* Ajuster l'espacement pour les écrans plus petits */
  }

  .image-section img {
    max-width: 100%;
    /* Faire en sorte que les images occupent la largeur totale de l'écran */
  }

  .date {
    padding: 20px;
    /* Ajuster l'espacement pour les écrans plus petits */
  }
}

/* Styles pour les écrans moyens (par exemple, tablettes) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 80px;
    /* Ajuster l'espacement pour les écrans de taille moyenne */
  }

  h1 {
    font-size: 2.5em;
    /* Ajuster la taille de la police pour les écrans de taille moyenne */
  }

  .image-section {
    margin-top: 80px;
    /* Ajuster l'espacement pour les écrans de taille moyenne */
  }

  .image-section img {
    max-width: 100%;
    /* Faire en sorte que les images occupent la largeur totale de l'écran */
  }

  .date {
    padding: 25px;
    /* Ajuster l'espacement pour les écrans de taille moyenne */
  }
}